In [2]:
def fact(n):
    if(n==1):
        return n
    else:
        return n*fact(n-1)
a=fact(5)
print(a)

120

In [ ]:
while True:
    try:
        a=int(input("enter the number:"))
        b=int(input("enter the second number:"))
        c=a/b
        print(c)
    except:
        print("please enter valid value:")

enter the number: 1
enter the second number: 0

please enter valid value:

enter the number: 1
enter the second number: 1

1.0

enter the number: 2
enter the second number: 1

2.0

enter the number: 2
enter the second number: 0

please enter valid value:

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

In [2]:
def main(name,enroll_id):

    
    return name,enroll_id

n=input("enter the number:")
m=input("enter the number:")

k=main(n,m)
print(k)

enter the number: kkkk
enter the number: kui4545

('kkkk', 'kui4545')

In [96]:
def student():
    d={"vale1":1,"vale2":2,"vale3":3}
    i=input("enter the name:")
    for j in d:
        if i==j:
            print("nothing")
            break
        else:
            d[input('enter new key : ')]=input("enter new value :")
            print(d)
    k=input("pop ")
    if k in d:
        d.pop(i)
        print(d)
        
student()

enter the name: vale1

nothing

pop  vale1

{'vale2': 2, 'vale3': 3}

In [2]:
student()

NameError: name 'student' is not defined

In [ ]:
'''a=10
b=0
c=a/b
print(c)'''
while True:
    try:
        a=int(input("enter the number 1 :"))
        b=int(input("enter the number 2 :"))
        c=a/b
        print(c)
    except:
        print("enter the valide vale:")

enter the number 1 : 5
enter the number 2 : 6

0.8333333333333334

In [ ]:
while True:
    try:
        a=int(input("enter the number:"))
        b=int(input("enter the second number:"))
        c=a/b
        print(c)
    except:
        print("please enter valid value:")

In [70]:
'''def emp(name):
    e={"AU23B01":name}
    for item in e.items():
        print(item)
        
n=input("enter the number:")
x=emp(n)'''

d={"vale1":1,"vale2":2}
print(d)
i=input("enter the name:")
if i not in d:
    d[i]=input("enter the new name:")
    print(d)

{'vale1': 1, 'vale2': 2}

enter the name: aditya
enter the new name: hgygf

{'vale1': 1, 'vale2': 2, 'aditya': 'hgygf'}

In [49]:
def student():
    d={"vale1":1,"vale2":2,"vale3":3}
    i=input("enter the name:")
    for j in d:
        if i==j:
            print("nothing")
            break
        else:
            m=input('enter -- key value :')
            #n=input("enter new value :")
            d.update([m,m])
            print(d)
            break
    k=input("pop ")
    if k in d:
        d.pop(k)
        print(d)
        
student()

enter the name: eee
enter -- key value :  sss

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [ ]:
n=int(input("enter the number:"))
l=[]
for i in range(n):
    e=int(input("enter the element:"))
    l.append(e)
    for m in (l):
        if((m+1)-m):
            print("end")
            
else:
    print("%%")

enter the number: 5
enter the element: 2

end
%%

enter the element: 4

end
end
%%

In [8]:
from sys import argv
first,second,third=argv

print(f"my second  argument{first}")
print(f"my third  argument{second}")
print(f"my forthy  argument{third}")

my second  argumentC:\Users\jay.anjana\AppData\Local\Programs\Python\Python312\Lib\site-packages\ipykernel_launcher.py
my third  argument-f
my forthy  argumentC:\Users\jay.anjana\AppData\Roaming\jupyter\runtime\kernel-4f030e84-0d50-4e34-b0fa-8f6f951017d1.json

In [6]:
l=[1,2,3,4,2]
n=2
for ele in range (len(l)):
    if ele == n:
        print("yes")

yes

In [4]:
p={2,3,5}
d=(one=1, two=2)
print(type(p))
print(type(d))

<class 'set'>
<class 'dict'>

In [5]:
def this_fails():
    x = 1/0
    print(x)

try:
    this_fails()
except ZeroDivisionError as err:
    print('Handling run-time error:', err)

#Handling run-time error: division by zero

Handling run-time error: division by zero

In [20]:
def bool_return():
    try:
        return True
    finally:
        return False

bool_return()
True
False
True

True

In [27]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")

divide(2, 1)
#result is 2.0
#executing finally clause
divide(2, 0)
#division by zero!
#executing finally clause
divide("2", "1")
#executing finally clause
Traceback ('most recent call last'):
File "<stdin>", line 1, in <module>
File "<stdin>", line 3, in divide
TypeError: unsupported operand type(s) for /: 'str' and 'str'

SyntaxError: invalid syntax (3732076472.py, line 19)